* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.game-type-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-self: center;
  padding: 25px;
  background-color: #00f2f2;
  color: #3d3b30;
  border: solid 2px #e71d36;
  border-radius: 24px;
  margin: 2.3rem;
}

.add-game-type-btn {
  align-self: flex-start;
  padding: 0.4em 1em;
  border-radius: 2rem;
  border: solid 1px #de1a1a;
  background-color: #d78521;
  color: #f1e8f7;
  transition: all 0.2s ease-in-out;
}

.add-game-type-btn:hover {
  transform: scale(1.05);
  background-color: #f1e8f7;
  color: #d78521;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 5.5rem;
  background-color: #0075f2;
}

.navbar-link {
  text-decoration: none;
  color: #ffeaee;
  transition: all 0.2s ease-in-out;
}

.navbar-link:hover {
  color: #e71d36;
  transform: scale(1.05);
}

.navigation-links {
  display: flex;
  gap: 45px;
  align-self: center;
  margin: 0 3.5rem;
  min-width: 10.5rem;
}

.home-link {
  align-self: center;
  font-size: 2.3rem;
  margin: 0 3.5rem;
}

.genre-page {
  display: flex;
  flex-direction: column;
  background-color: #ffeaee;
  height: 100vh;
}

.game-type-container {
  align-self: center;
  padding: 2.5rem;
}

.game-form-page-container {
  display: flex;
  flex-direction: column;
  background-color: #ffeaee;
  height: 100vh;
}

.game-info-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-self: center;
  padding: 25px;
  background-color: #00f2f2;
  color: #3d3b30;
  border: solid 2px #e71d36;
  border-radius: 24px;
  margin: 2.3rem;
}

.game-description {
  resize: none;
}

.games-in-genre-list {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  width: 80%;
  margin: 50px 10%;
  gap: 15px;
  list-style: none;
}

.genre-btn {
  padding: 0.4em 1em;
  border-radius: 2rem;
  border: solid 1px #de1a1a;
  background-color: #d78521;
  color: #f1e8f7;
  transition: all 0.2s ease-in-out;
  min-width: 100px;
}

.genre-btn:hover {
  transform: scale(1.05);
  background-color: #f1e8f7;
  color: #d78521;
}

.game-page-container {
  display: flex;
  flex-direction: column;
  background-color: #ffeaee;
  height: 100vh;
}

.games-collection {
  align-self: center;
}

.displayed-games {
  list-style: none;
}

.game {
  padding: 1.7rem;
  margin: 15px;
  background-color: #f78764;
  color: #083d77;
  border-radius: 24px;
  border: solid 1px #da4167;
}

.game:hover {
  border: dotted 2px #ebebd3;
}

.genre-list-container {
  align-self: center;
}

.genre-list {
  list-style: none;
}

.game-info-btn {
  padding: 0.4em 1em;
  border-radius: 2rem;
  border: solid 1px #de1a1a;
  background-color: #d78521;
  color: #f1e8f7;
  transition: all 0.2s ease-in-out;
}

.game-info-btn:hover {
  transform: scale(1.05);
  background-color: #f1e8f7;
  color: #d78521;
}

@media all and (max-width: 500px) {
  .navbar {
    flex-direction: column;
    min-height: 150px;
  }

  .navigation-links {
    margin: 2.5rem;
  }

  .home-link {
    margin-top: 25px;
  }

  .games-in-genre-list {
    grid-template-columns: repeat(2, 50%);
  }
}
